@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0);
}

body {
    background-image: url(image/background.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in 1s;
    background-image: linear-gradient(45deg, rgb(4, 168, 127), rgb(226, 218, 218), rgb(0, 221, 184));
}

.container {
    width: 870px;
    height: 700px;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 35px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(15px);
    border: solid black 2px;
    z-index: 0;
}

.btn {
    border-style: none;
}

/* head */

.head {
    width: 90%;
    height: 25%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(50px);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
}

.title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 30%;
    gap: 20px;
}

.counter {
    font-size: 1.1rem;
    backdrop-filter: blur(100px);
    background-image: linear-gradient(45deg, rgba(223, 21, 223, 0.3), rgba(55, 55, 231, 0.3));
    padding: 4px;
    border-radius: 8px;
    width: auto;
    font-weight: 500;
}

.clear,.clear-com{
    border-radius: 10px;
    padding: 5px 10px;
    background-image: linear-gradient(45deg, rgba(223, 21, 223, 0.3), rgba(55, 55, 231, 0.3));
    cursor: pointer;
}

.clear{
    color:red;
    font-size: 1.1rem;
    font-weight: 500;
}

h1 {
    backdrop-filter: blur(100px);
    background-image: linear-gradient(45deg, rgba(223, 21, 223, 0.3), rgba(55, 55, 231, 0.3));
    padding: 8px;
    border-radius: 8px;
    font-size: 1.5rem;
}

.search-bar {
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search-box{
    border-radius: 10px;
    width: 80%;
    height: 100%;
    padding: 20px;
    border: 2px rgb(102, 102, 102) solid;
    background-image: linear-gradient(45deg, rgba(223, 21, 223, 0.3), rgba(55, 55, 231, 0.3));
    cursor:text;
}

.search-btn {
    color: rgb(37, 36, 36);
    font-size: 1.5rem;
}

/* section-2 */

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 65%;
    width: 90%;
    border-radius: 15px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(50px);
}

.a1 {
    width: 95%;
    height: 10%;
    margin: 20px 0px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.task-input {
    border-radius: 10px;
    width: 80%;
    height: 100%;
    cursor: text;
}

#input {
    border-radius: 10px;
    width: 80%;
    height: 20%;
    padding: 20px;
    border: 2px rgb(102, 102, 102) solid;
}

.add-button {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border: 2px rgb(102, 102, 102) solid;
}

/* task line */
.task-list {
    height: 80%;
    width: 95%;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
    background-image: linear-gradient(45deg, rgba(110, 214, 180, 0.3), rgba(99, 99, 197, 0.3));
    gap: 5px;
    overflow: scroll;
    scrollbar-width: none;
}

.task {
    width: 95%;
    height: 15%;
    margin: 0px 10px;
    padding: 10px;
    background-image: linear-gradient(45deg, rgb(110, 214, 179), rgb(99, 99, 197));
    border-radius: 20px;
    border: 2px rgb(12, 53, 36) solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.edit-Text{
    padding:5px;
    height: auto;
   background-image: linear-gradient(45deg, rgb(110, 214, 179), rgb(99, 99, 197));
    border-radius: 20px;
    border: none;
    cursor:cell;
}

.left,
.right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.checkbox {
    height: 1rem;
    width: 1rem;
    margin: 5px 20px 5px 5px;
}

.delete,
.edit {
    margin: 0px 5px;
    cursor: pointer;
}

.delete{
    border:none;
    background-color: transparent;
    font-size: 1.2rem;
}

/* hidding manuale created task */
#hidden {
    width: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    visibility: hidden;
}
